*{
    font-family: montserrat;
}
body{
    background-color: darkgray;
}
.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
 
}
.carousel-caption{
    bottom:220px;
    z-index: 2;
}
.carousel-caption h5{
font-size: 45px;
text-transform: uppercase;
letter-spacing: 2px;
margin-top: 10px;
}
.carousel-caption p{
    font-size: 18px;
    line-height: 1.9;
    width: 60%;
    margin: auto;
}
.carousel-inner::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index:1;
}
.w-100{
    width: 100%;
}
.navbar-nav a{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.navbar-light .navbar-brand{
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.card{
    box-shadow: 2px 4px 4px
    ;
}
/*-------Responsive-------*/
@media only screen and (max-width: 500px) {
   .navbar-nav{
     text-align: center;
   }
   .carousel-caption{
   bottom: 125px;
   }
   .carousel-caption h5{
    font-size: 40px;
   }
   .carousel-caption p{
   line-height: 1.6;
   font-size: 15px;
   width: 100%;
   }
   .card{
    margin-bottom: 20px;
    
   }
  }
  @media only screen and (min-width: 768px) and (max-width:991px) {
    .carousel-caption{
        bottom: 370px;
        } 
        .carousel-caption p{
            width: 100%;
        }
        .card{
            margin-bottom: 20px;
        }
  }